<div class="w-100 bg-gray-100 mt-3 py-3 px-3">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="fw-bold m-0">
      Template list
    </h5>
    <div class="controll-buttons d-none d-md-block">
      <button class="btn btn-primary me-3" (click)="syncTemplates()">
        <i class="fa-solid fa-arrows-rotate"></i>
        <span>
          Sync
        </span>
      </button>
      <button class="btn btn-outline-primary me-3">
        <i class="fa-solid fa-filter me-1"></i>
        <span>
          Filter
        </span>
      </button>

      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addNewTemplate"
        aria-controls="addNewTemplate">
        <i class="fa-solid fa-circle-plus me-1"></i>
        <span>
          New Template
        </span>
      </button>
    </div>
    <div class="dropdown d-block d-md-none">
      <button class="btn btn-secondary rounded-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu ">
        <li class="btn text-primary">
          <i class="fa-solid fa-filter me-1"></i>
          Filter
        </li>
        <li class="btn text-primary">
          <i class="fa-solid fa-download me-1"></i>
          Export
        </li>
        <li class="btn  text-nowrap">
          <button class="btn p-0 text-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addNewTemplate"
            aria-controls="addNewTemplate">
            <i class="fa-solid fa-circle-plus me-1"></i>
            New Template
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="px-3 table-responsive">
  <table class="table align-middle m-0">
    <thead>
      <tr class="text-center">
        <th scope="col" class="py-3 text-start">Name</th>
        <th scope="col" class="py-3">Category</th>
        <th scope="col" class="py-3">Sub Category</th>
        <th scope="col" class="py-3">Language</th>
        <th scope="col" class="py-3">Status</th>
        <th scope="col" class="py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let template of templates | paginate: { id: 'pagination',
        itemsPerPage: paginationDetails.PageSize,
        currentPage: paginationDetails.CurrentPage,
        totalItems: paginationDetails.TotalCount }">
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary">{{template.name}}</h6>
            <span>{{template.createdAt | date :"yyyy-MM-dd hh:mm a"}}</span>
          </td>
          <td>{{TemplateCategoryEnum[template.templateCategory]}}</td>
          <td>{{ template.templateSubCategory != null ? TemplateSubCategoryEnum[template.templateSubCategory]
            : "NotFound" }}</td>
          <td>
            <span
              class="state text-white p-1 rounded-1 text-11 font-bold bg-{{ template.language == 1 ? 'warning' : 'info' }}">
              {{ LanguageEnum[template.language] }}
            </span>
          </td>
          <td>
            <span
              class="state text-white p-1 rounded-1 text-11 font-bold bg-{{ template.templateStatus == 4 ? 'danger' : 'success' }}">
              {{TemplateStatusEnum[template.templateStatus]}}
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary" (click)="deleteTemplate(template)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>

</div>

<div class="w-100 mx-0 bg-white">
  <div class="pagination row text-nowrap justify-content-center align-items-center py-4 text-center">
    <div class="row-control col-6 col-md-3 col-lg-2">
      <div>
        <span class="ms-3">Rows per page:</span>
        <select name="" id="" class="border-0 ms-3" (change)="pageSizeChanged($event)">
          <option [selected]="paginationDetails.PageSize==8" value="5">8</option>
          <option [selected]="paginationDetails.PageSize==10" value="10">10</option>
          <option [selected]="paginationDetails.PageSize==20" value="20">20</option>
          <option [selected]="paginationDetails.PageSize==35" value="35">35</option>
          <option [selected]="paginationDetails.PageSize==50" value="50">50</option>
        </select>
      </div>
    </div>
    <div class="pages col-6 col-md-2 col-lg-1">
      <div>
        {{(paginationDetails.PageSize*(paginationDetails.CurrentPage-1))+1}}-{{paginationDetails.PageSize*paginationDetails.CurrentPage}}
        of {{paginationDetails.TotalCount}}
      </div>
    </div>
    <div class="pages-control color-gray-600 col-12 col-md-3 col-lg-2">
      <div class="mx-auto mt-3 mt-md-0">
        <a class="prev color-gray-600 me-3" (click)="previousPage()" *ngIf="1<paginationDetails.CurrentPage">
          <i class="fa-solid fa-arrow-left-long me-2"></i>
          Previous
        </a>
        <a class="next color-gray-600" (click)="nextPage()"
          *ngIf="paginationDetails.CurrentPage<paginationDetails.TotalPages">
          Next
          <i class="fa-solid fa-arrow-right-long ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="addNewTemplate" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header d-flex justify-content-between">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add New Template</h5>
    <button type="button" class="btn p-0" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body px-0 px-md-2 px-lg-3">
    <!-- <app-new-Template></app-new-Template> -->
  </div>
</div>