<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0 g-md-2 g-lg-3">
    <div class="col-12">
      <div>
        <div class="head bg-primary-subtle p-2 rounded-top-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-secondary text-primary-emphasis fw-semibold m-0">
              Contact Information
            </h6>
          </div>
        </div>
        <div class="body border border-primary-subtle border-top-0 p-2 rounded-bottom-3 ">
          <p class="simi-small fw-semibold">Contact Name</p>
          <input type="text" class="form-control px-3 py-2" placeholder="Contact Name">
          <div>
            <div class="d-flex justify-content-between">
              <p class="simi-small fw-semibold mt-3">Message Template</p>
              <button class="btn p-0 text-primary simi-small fw-semibold">
                <i class="fa-solid fa-plus"></i>
                <span>
                  New Template
                </span>
              </button>
            </div>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Message</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>


  </div>