<ngx-spinner name="loading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#0b5ed7"
             type="ball-clip-rotate-multiple" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="position-relative">
  <router-outlet></router-outlet>
  <ngx-spinner name="login" [fullScreen]="true">
    <div class="login-Success bg-white rounded-4 p-5 text-center position-relative" style="margin-top: -100px;">
      <div class="login-Success-img ">
        <span class="position-absolute top-0 end-0 p-3">
          <i class="fa-solid fa-xmark border border-2 border-secondary rounded-circle d-flex justify-content-center align-items-center"
            style="width: 25px; height: 25px;"></i>
        </span>
        <img src="../../../assets/images/successLoader.png" alt="">
      </div>
      <div class="login-Success-text">
        <p class="login-Success-text-1 fs-3 fw-bold mb-0">Login Success!</p>
        <p class="login-Success-text-2 simi-small text-secondary">You can use all the system features</p>
      </div>
    </div>
    <!-- <div
      class="login-Success-layout position-absolute w-100 h-100 bg-dark bg-opacity-75 top-0 start-0 d-flex justify-content-center align-items-center">

    </div> -->
  </ngx-spinner>

</div>
