<div class="container-fluid">
  <div class="w-100 bg-secondary-subtle py-4 px-3">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="fw-bold m-0">
        Broadcast list
      </h5>
      <div class="controll-buttons d-none d-md-block">
        <button class="btn btn-outline-primary me-3">
          <i class="fa-solid fa-filter me-1"></i>
          <span>
            Filter
          </span>
        </button>
        <div class="btn-group me-3" role="group" aria-label="Basic outlined example">
          <button class="btn btn-outline-primary">
            <i class="fa-solid fa-download me-1"></i>
            <span>
              Export
            </span>
          </button>
          <button class="btn btn-outline-primary">
            <i class="fa-solid fa-upload me-1"></i>
            <span>
              Import
            </span>
          </button>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addNewBroadcast"
          aria-controls="addNewBroadcast">
          <i class="fa-solid fa-circle-plus me-1"></i>
          <span>
            New Contact
          </span>
        </button>
      </div>
      <div class="dropdown d-block d-md-none">
        <button class="btn btn-secondary rounded-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu ">
          <li class="btn text-primary">
            <i class="fa-solid fa-filter me-1"></i>
            Filter
          </li>
          <li class="btn text-primary">
            <i class="fa-solid fa-download me-1"></i>
            Export
          </li>
          <li class="btn  text-nowrap">
            <button class="btn p-0 text-primary" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#addNewBroadcast" aria-controls="addNewBroadcast">
              <i class="fa-solid fa-circle-plus me-1"></i>
              New Broadcast
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="px-3 table-responsive">
    <table class="table align-middle">
      <thead>
        <tr class="text-center">
          <th scope="col" class="py-3 text-start">Name and Phone</th>
          <th scope="col" class="py-3">Attributes</th>
          <th scope="col" class="py-3">Email Address</th>
          <th scope="col" class="py-3">Status</th>
          <th scope="col" class="py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>
        <tr class="text-center text-nowrap">
          <td class="text-start">
            <h6 class="text-primary m-0">Gouda Mandor</h6>
            <span>** **** ***06</span>
          </td>
          <td></td>
          <td>user&#x40;company.com</td>
          <td>
            <span class="small fw-semibold text-success bg-success-subtle btn">
              Solved
            </span>
          </td>
          <td>
            <button class="btn btn-outline-secondary me-2">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn btn-outline-secondary">
              <i class="fa-regular fa-eye"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="container">
    <div class="pagination row text-nowrap justify-content-center align-items-center pt-2 pb-3 text-center">
      <div class="row-control col-6 col-md-3 col-lg-2">
        <div>
          <span class="ms-3">Rows per page:</span>
          <select name="" id="" class="border-0 ms-3">
            <option selected value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="35">35</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="pages col-6 col-md-2 col-lg-1">
        <div>
          1-1 of 1
        </div>
      </div>
      <div class="pages-control text-secondary col-12 col-md-3 col-lg-2">
        <div class="mx-auto mt-3 mt-md-0">
          <a class="prev text-secondary me-3">
            <i class="fa-solid fa-arrow-left-long me-2"></i>
            Previous
          </a>
          <a class="next text-secondary">
            Next
            <i class="fa-solid fa-arrow-right-long ms-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="addNewBroadcast" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header d-flex justify-content-between">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add New Contact</h5>
    <button type="button" class="btn p-0" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body px-0 px-md-2 px-lg-3">
    <app-new-contact></app-new-contact>
  </div>
</div>