<div class="container-fluid d-flex flex-column h-100">
  <div class="w-100 bg-secondary-subtle py-4 px-3">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="fw-bold m-0">
        Contacts list
      </h5>
      <div class="controll-buttons d-none d-md-block">
        <button class="btn btn-outline-primary me-3">
          <i class="fa-solid fa-filter me-1"></i>
          <span>
            Filter
          </span>
        </button>
        <div class="btn-group me-3" role="group" aria-label="Basic outlined example">
          <button class="btn btn-outline-primary">
            <i class="fa-solid fa-download me-1"></i>
            <span>
              Export
            </span>
          </button>
          <button class="btn btn-outline-primary">
            <i class="fa-solid fa-upload me-1"></i>
            <span>
              Import
            </span>
          </button>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addNewClient"
          aria-controls="addNewClient" (click)="dynamicCompGeneration('add',null)">
          <i class="fa-solid fa-circle-plus me-1"></i>
          <span>
            New Contact
          </span>
        </button>
      </div>
      <div class="dropdown d-block d-md-none">
        <button class="btn btn-secondary rounded-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu ">
          <li class="btn text-primary">
            <i class="fa-solid fa-filter me-1"></i>
            Filter
          </li>
          <li class="btn text-primary">
            <i class="fa-solid fa-download me-1"></i>
            Export
          </li>
          <li class="btn  text-nowrap">
            <button class="btn p-0 text-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addNewClient"
              aria-controls="addNewClient">
              <i class="fa-solid fa-circle-plus me-1"></i>
              New Broadcast
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 table-responsive ">
    <table class="table align-middle">
      <thead>
        <tr class="text-center">
          <th scope="col" class="py-3 text-start">Name and Phone</th>
          <th scope="col" class="py-3">Attributes</th>
          <th scope="col" class="py-3">Email Address</th>
          <th scope="col" class="py-3">Status</th>
          <th scope="col" class="py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let client of clients">
          <tr class="text-center text-nowrap" [id]="client.id">
            <td class="text-start">
              <h6 class="text-primary m-0">{{client.name}}</h6>
              <span>{{client.phoneNumber}}</span>
            </td>
            <td></td>
            <td>user&#x40;company.com</td>
            <td>
              <span class="small fw-semibold text-success bg-success-subtle btn">
                Solved
              </span>
            </td>
            <td>
              <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#addNewClient" aria-controls="addNewClient"
                (click)="dynamicCompGeneration('edit',client)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#addNewClient" aria-controls="addNewClient"
                (click)="dynamicCompGeneration('view',client)">
                <i class="fa-regular fa-eye"></i>
              </button>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>

  </div>
  <div class="start-0 position-fixed bottom-0 w-100 mx-0 bg-white">
    <div class="pagination row text-nowrap justify-content-center align-items-center py-4 pb-5 text-center">
      <div class="row-control col-6 col-md-3 col-lg-2">
        <div>
          <span class="ms-3">Rows per page:</span>
          <select name="" id="" class="border-0 ms-3">
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="35">35</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
      <div class="pages col-6 col-md-2 col-lg-1">
        <div>
          1-1 of 1
        </div>
      </div>
      <div class="pages-control color-gray-600 col-12 col-md-3 col-lg-2">
        <div class="mx-auto mt-3 mt-md-0">
          <a class="prev color-gray-600 me-3">
            <i class="fa-solid fa-arrow-left-long me-2"></i>
            Previous
          </a>
          <a class="next color-gray-600">
            Next
            <i class="fa-solid fa-arrow-right-long ms-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="addNewClient" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header d-flex justify-content-between">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{offCanvusLable}} Contact</h5>
    <button type="button" class="btn p-0" data-bs-dismiss="offcanvas" aria-label="Close" (click)="clearContainer()">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <div class="offcanvas-body px-0 px-md-2 px-lg-3">
    <ng-container #container></ng-container>
    <!-- <app-new-contact></app-new-contact> -->
  </div>
</div>