.messagesBody {
  height: 68vh;
  overflow: auto;
}

.chat-image {
  width: -webkit-fill-available
}

.breaker{
  position: relative;
}

.breaker::before {
  content: "";
  z-index: 5;
  position: absolute;
  background-color: #d4d4d4;
  width: 25%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.breaker::after {
  content: "";
  z-index: 5;
  position: absolute;
  background-color: #d4d4d4;
  width: 25%;
  height: 2px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.offcanvas{
  width: 600px !important;
}

@media screen and (max-width: 1140px) {
  .breaker::before, .breaker::after {
    width: 0;
  }
}
