<div class="px-3 ff-inter">
  <div class="chat-management">
    <h6 class="m-0 mt-3 font-bold text-sm">
      Chat Management
    </h6>
    <ul>
      <li class="border-bottom color-gray-600 py-3">
        <a>
          <i class="fa-regular fa-star me-2"></i>
          Add to Favorite
        </a>
      </li>
      <li class="border-bottom color-gray-600 py-3">
        <a>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <i class="fa-solid fa-user-gear me-2"></i>
              Assign Team
            </div>
            <div class="d-flex">
              <img class="nestedimgs" src="./assets/images/MichealGouch.png" alt="">
              <img class="nestedimgs" src="./assets/images/RobertaCasas.png" alt="">
              <img class="nestedimgs" src="./assets/images/BonnieGreen.png" alt="">
              <span
                class="nestedimgs color-blue-500 text-white d-flex justify-content-center align-items-center">+3</span>
            </div>
          </div>
        </a>
      </li>
      <li class="border-bottom color-gray-600 py-3">
        <a>
          <i class="fa-solid fa-box-archive me-2"></i>
          Send to Archive
        </a>
      </li>
      <li class="color-gray-600 py-3">
        <a>
          <i class="fa-solid fa-ban me-2"></i>
          Spam & Block
        </a>
      </li>
    </ul>
  </div>
  <div class="contact-parameters">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="m-0 font-bold text-15 ff-poppins">
        Contact Parameters
      </h5>
      <button class="btn btn-primary text-sm p-2 py-1 ">
        <i class="fa-solid fa-pen"></i>
      </button>
    </div>
    <div class="language mt-3">
      <div class="d-flex align-items-center justify-content-between">
        <span class="font-semibold">
          Language
        </span>
        <button
          class="rounded-circle border-2 border border-secondary color-gray-600 d-flex justify-content-center align-items-center bg-transparent"
          style="width: 20px; height: 20px; display: inline-block;">
          <i class="fa-solid fa-xmark"></i>
        </button>

      </div>
      <select class="form-select border-2 mt-2 text-sm" aria-label="Default select example">
        <option value="ar">Arabic</option>
        <option selected value="en">English</option>
        <option value="fr">French</option>
      </select>
    </div>
    <div class="Plan mt-3">
      <div class="d-flex align-items-center justify-content-between">
        <span class="font-semibold">
          Plan
        </span>
        <button
          class="rounded-circle border-2 border border-secondary color-gray-600 d-flex justify-content-center align-items-center bg-transparent"
          style="width: 20px; height: 20px; display: inline-block;">
          <i class="fa-solid fa-xmark"></i>
        </button>

      </div>
      <select class="form-select border-2 mt-2 text-sm" aria-label="Default select example">
        <option selected value="Elite">Elite</option>
        <option value="ar">Arabic</option>
        <option value="en">English</option>
        <option value="fr">French</option>
      </select>
    </div>
  </div>
  <div class="note mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-bold text-sm">
        Notes
      </h6>
      <button class="btn btn-primary text-sm p-2 py-1">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <textarea class="form-control border-2 mt-2 text-sm" name="" id="" cols="30" rows="3">Write your notes here
    </textarea>
    <div class="mt-2 d-flex justify-content-end">
      <button class="btn btn-outline-danger fs-16 p-2 py-1">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button class="btn btn-outline-success ms-2 fs-16 p-2 py-1">
        <i class="fa-solid fa-check"></i>
      </button>
    </div>
    <div class="form-control border-2 mt-2 pb-3 bg-light text-sm">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-circle-user fs-3 color-gray-600"></i>
          <div class="ms-3">
            <h6 class="mb-0 font-semibold color-gray-600 text-sm">Gouda Mandor</h6>
            <span class="color-gray-600 text-xs">Dec 10, 5:31 pm</span>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-secondary p-2 py-1 me-2 text-xs">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn btn-outline-secondary p-2 py-1 text-xs">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
      Note body will be written here...
    </div>
  </div>
</div>