<div>
  <div class="row align-items-center justify-content-center g-3">
    <div class="col-12">
      <div>
        <div class="d-flex  g-2">
          <div class="form-control d-flex bg-light bg-opacity-25 align-items-center me-3">
            <label for="search" class="fa-solid fa-magnifying-glass text-secondary pe-2">
            </label>
            <input type="text" id="search" name="search" class=" border-0" placeholder="Search">
          </div>
          <button class="btn btn-primary text-nowrap small" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasinside" aria-controls="offcanvasinside">
            <i class="fa-solid fa-plus-circle me-2"></i>
            <span class="text-nowrap">
              New Reply
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div>
        <div class="head bg-primary-subtle p-2 rounded-top-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-secondary text-primary-emphasis fw-semibold m-0">
              Quick Reply Title
            </h6>
            <div class="btn-group bg-white" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-clone"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="body border border-primary-subtle border-top-0 p-2 rounded-bottom-3 ">
          <div class="d-flex align-items-stretch">
            <div class="rounded-2 overflow-hidden me-3" style="width: 80px;">
              <img class="" style="max-width: 100%; max-height: 100%;" src="../../../assets/images/Rectangle.png"
                alt="">
            </div>
            <p>
              Saepe autem eos velit optio quasi quaerat dolores expedita. Minus illum voluptas ea quia provident.
            </p>
          </div>
          <i class="fa-solid fa-paper-plane d-block w-100 text-end text-primary fs-5"></i>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div>
        <div class="head bg-primary-subtle p-2 rounded-top-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-secondary text-primary-emphasis fw-semibold m-0">
              Quick Reply Title
            </h6>
            <div class="btn-group bg-white" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-clone"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="body border border-primary-subtle border-top-0 p-2 rounded-bottom-3 ">
          <div class="d-flex align-items-stretch">
            <div class="rounded-2 overflow-hidden me-3" style="width: 50px;">
              <img class="" style="max-width: 100%; max-height: 100%;" src="../../../assets/images/Group.png" alt="">
            </div>
            <p>
              Saepe vitae aliquam dolore magni enim distinctio labore ab.
            </p>
          </div>
          <i class="fa-solid fa-paper-plane d-block w-100 text-end text-primary fs-5"></i>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div>
        <div class="head bg-primary-subtle p-2 rounded-top-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-secondary text-primary-emphasis fw-semibold m-0">
              Quick Reply Title
            </h6>
            <div class="btn-group bg-white" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-clone"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="body border border-primary-subtle border-top-0 p-2 rounded-bottom-3 ">
          <div class="d-flex align-items-start">
            <div
              class="rounded-2 overflow-hidden me-3 bg-primary-subtle d-flex justify-content-center align-items-center"
              style="width: 100px; height: 50px;">
              <i class="fa-solid fa-file-arrow-down text-primary"></i>
            </div>
            <p>
              Fugit rerum sint et non provident. Est ratione aut error veniam et sed qui. Fugit vitae aliquam dolore
              magni distinctio laboab.
            </p>
          </div>
          <i class="fa-solid fa-paper-plane d-block w-100 text-end text-primary fs-5"></i>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div>
        <div class="head bg-primary-subtle p-2 rounded-top-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-secondary text-primary-emphasis fw-semibold m-0">
              Quick Reply Title
            </h6>
            <div class="btn-group bg-white" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-clone"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="body border border-primary-subtle border-top-0 p-2 rounded-bottom-3 ">
          <div class="d-flex align-items-stretch">
            <p>
              Saepe autem eos velit optio quasi quaerat dolores expedita. Minus illum voluptas ea quia provident. Fugit
              rerum sint et non provident. Est ratione aut error veniam et sed qui. Fugit vitae aliquam dolore magni
              enim distinctio labore ab. </p>
          </div>
          <i class="fa-solid fa-paper-plane d-block w-100 text-end text-primary fs-5"></i>
        </div>
      </div>
    </div>
  </div>


  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasinside" aria-labelledby="offcanvasinsideLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasinsideLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
        etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>